footer{
    background-color: ($grey);
    padding: 22px;
    @include Colum;
    h2{
        font-family: "Shrikhand", serif;
        font-weight: 400;
        font-style: italic;
        font-size: 18px;
        margin: 0px;
        margin-bottom: 10px;
        color: ($white);

    }

    .f-text{
        display: flex;
        align-items: center;
        gap: 20px;
        .fa-solid{
            color: ($white);
        }
        
        P{
             font-family:"Roboto",sans-serif;
            font-weight:500;
            font-size: 16px;
            color: ($white);
            margin: 7px 0;
        }
    }
}

@media (min-width: 1440px){
    footer{
        display: flex;
        flex-direction: row-reverse;
        gap: 20px;

        .f-info{
            display: flex;
            flex-direction: row;
            gap: 50px;
        }

        h2{
            margin: 0;
            display: flex;
            align-items: center;
        }

        .f-1{
            display: flex;
            gap: 15px;
            
        }

        .f-2{
            display: flex;
            gap: 15px;
            
        }
    }
}
