
header{
    nav{
        @include Colum;
    }
}



nav{
    img{
        padding: 15px 0 ;
    }
}


.img-box{
    z-index: 10;
    width: 100%;
    @include shadow-2;
    @include Flexcenter;
}

.h-text{
    display: flex;
    background-color: ($grey-2);
    width: 100%;
    gap: 17px;
    font-family:"Roboto",sans-serif;
    font-weight:500;
    @include Flexcenter;
    @include shadow;

    .fa-solid{
        color: ($grey);
        width: 12px;
        height: 16px;
    }

}
//PAGE 2//
@media (max-width: 1440px){
    .img-box-2{
        z-index: 10;
        width: 100%;
        @include shadow-2;
        @include Flexcenter;
        position: relative;
    }

    .i-arrow::before{
        color: ($grey);
        display: flex;
        font-size: x-large;
        position: absolute;
        left: 17px;
        bottom: 21px;
    }
}