@charset "UTF-8";
header nav {
  display: flex;
  flex-direction: column;
}

nav img {
  padding: 15px 0;
}

.img-box {
  z-index: 10;
  width: 100%;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.h-text {
  display: flex;
  background-color: #eaeaea;
  width: 100%;
  gap: 17px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.h-text .fa-solid {
  color: #353535;
  width: 12px;
  height: 16px;
}

.img-box-2 {
  z-index: 10;
  width: 100%;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.i-arrow::before {
  color: #353535;
  display: flex;
  font-size: x-large;
  position: relative;
  right: 58px;
}

body {
  margin: 0;
  background-color: #f6f6f6;
}

.Main-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.Main-title h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  width: 275px;
  height: 68px;
  margin-top: 30px;
}
.Main-title p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  width: 315px;
  height: 46px;
  font-size: 18px;
  margin-top: 0;
}
.Main-title button {
  background: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
  border-radius: 25px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  width: 218px;
  height: 50px;
  border: 0px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 40px;
}
.Main-title button:hover {
  opacity: 85%;
}

.Fonctionnement {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 20px;
  gap: 15px;
}
.Fonctionnement h2 {
  display: flex;
  justify-content: start;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.etapes {
  width: 100%;
  display: flex;
  align-items: center;
}

.etapes-name {
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  width: 100%;
  height: 72px;
  position: relative;
  gap: 20px;
  padding-left: 30px;
}

.étapes-liste {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 20px;
  gap: 25px;
}

ol {
  counter-reset: etapes;
}

li {
  list-style-type: none;
  counter-increment: etapes;
}

li::before {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  content: counter(etapes);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  background: #9356DC;
  border-radius: 100%;
  min-width: 24px;
  min-height: 24px;
  color: #ffffff;
  position: absolute;
  left: 28px;
  z-index: 10;
}

.fa-store {
  color: #9356DC;
}

.fa-heart {
  width: 16px;
  width: 16px;
}

.fa-heart-empty:hover {
  opacity: 0;
}

.fa-heartfill {
  opacity: 0;
  transition: opacity 1s;
  background: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.fa-gradiant:hover {
  background: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  width: 16px;
  height: 16px;
  opacity: 1;
  transition: opacity 2s;
  transition-duration: 400ms;
}

.card-list {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 18px;
}
.card-list h2 {
  display: flex;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.card {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  position: relative;
}
.card img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
  width: 100%;
  height: 174px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.new {
  position: absolute;
  background-color: #99E2D0;
  color: #008766;
  border-radius: 2px;
  box-shadow: 0px 4px 15px 0px rgba(0, 2, 4, 0.15);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  margin: 0;
  padding: 5px;
  right: 12px;
  top: 13px;
}

.card-content {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.card-content h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin: 0;
}
.card-content p {
  margin: 0;
  display: flex;
  justify-content: start;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 17px;
}
.card-content i {
  display: flex;
  justify-content: end;
  position: absolute;
  right: 25px;
  top: 197px;
}

.img-container img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 275px;
}

.main-container {
  display: flex;
  flex-direction: column;
  position: relative;
  border-top: solid #f6f6f6 16px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  padding: 0 13px;
  top: -60px;
  background-color: #f6f6f6;
}
.main-container h1 {
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 28px;
  color: #000000;
  margin: 0;
}
.main-container h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom: solid #99E2D0 3px;
  width: 40px;
}

.btn {
  display: flex;
  justify-content: center;
  padding: 40px 0;
}
.btn button {
  background: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
  border-radius: 25px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  margin: 0;
  width: 186px;
  height: 50px;
  border: 0px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
}
.btn button:hover {
  opacity: 85%;
}

.title {
  display: flex;
  align-items: center;
}
.title i {
  display: flex;
  position: absolute;
  right: 35px;
}

.food-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.cards {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  padding: 12px 15px;
}
.cards h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  margin: 0;
}
.cards p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 15px;
  margin: 0;
}
.cards .price {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 15px;
  position: absolute;
  right: 25px;
  bottom: 15px;
}

@media (min-width: 1440px) {
  .Main-title h1 {
    width: 100%;
    font-size: 40px;
    margin: 30px 0 20px 0;
  }
  .Main-title p {
    width: 100%;
  }
  .Fonctionnement {
    display: flex;
    align-items: center;
  }
  .étapes-liste {
    display: flex;
    flex-direction: row;
  }
  .etapes-name {
    width: 335px;
    background-color: #f6f6f6;
    position: relative;
  }
  .etapes-name p {
    margin: 0;
  }
  li::before {
    position: relative;
    left: 13px;
  }
  .restaurants {
    display: flex;
    justify-content: center;
  }
  .card-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 1080px;
    gap: 50px 100px;
  }
  .card {
    width: 490px;
    height: 251px;
  }
  .card img {
    -o-object-position: 0;
       object-position: 0;
  }
  .title {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: row;
  }
  .title i {
    right: -35px;
    position: absolute;
  }
  .food-list {
    width: 634px;
  }
  .Main {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
  }
  .main-container {
    width: 1055px;
    justify-content: center;
    align-items: center;
  }
}
footer {
  background-color: #353535;
  padding: 22px;
  display: flex;
  flex-direction: column;
}
footer h2 {
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 18px;
  margin: 0px;
  margin-bottom: 10px;
  color: #ffffff;
}
footer .f-text {
  display: flex;
  align-items: center;
  gap: 20px;
}
footer .f-text .fa-solid {
  color: #ffffff;
}
footer .f-text P {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  margin: 7px 0;
}

@media (min-width: 1440px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
  }
  footer .f-info {
    display: flex;
    flex-direction: row;
    gap: 50px;
  }
  footer h2 {
    margin: 0;
    display: flex;
    align-items: center;
  }
  footer .f-1 {
    display: flex;
    gap: 15px;
  }
  footer .f-2 {
    display: flex;
    gap: 15px;
  }
}/*# sourceMappingURL=style.css.map */